nat destination
pool [name]
ip address [ip]
ip port [port]
exit
ruleset dnat
from interface [interface] //или security-zone
rule 1
match protocol [protocol] //чаще всего tcp или udp
match destination-address address-range [ip] //или object group
match destination-port port-range [port]
action destination-nat pool [name]
enable
